p
{
    color: rgb(40, 38, 53);
    font-family: serif, Arial, Helvetica, sans-serif;
    text-indent: 50px;
    line-height: 1.8;
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    max-width: 90%;
    margin: auto;
   background-color: rgb(68, 128, 128); 
   background-image: url("champ.jpg");
   background-repeat: no-repeat;
   background-position: bottom right;
   background-size: cover;
   font-family: 'Open Sans','Courier New', Courier, monospace;
   
}

/* Tableau */
table{
    margin: auto;
    border-collapse: collapse;
    width: 880px;
    height: 200px;
    text-align: center;
}
td{
    border: solid 1px;
}
tbody{
    background-color: rgba(90, 87, 87,0.8);
    
}
thead{
    background-color: rgba(202, 192, 192,0.8);
    font-size: x-large;
    
}
caption{
    font-size:xx-large;
    margin-bottom: 15px;
}







/* */

q, blockquote
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
    background-color: rgb(235, 214, 214,0.3);
    border-left: #B22222 solid 30px;
    padding-left: 8px ;
    margin-top: 80px;
    margin-bottom: 80px;
}

.quotation
{
    font-style: italic;
}

.neighbors
{
    border-left: 5px brown solid;
}


.farmer
{
    border-left: 5px green solid;
}

em
{
    font-size: larger;
}

header h1
{
    background-color: yellow;
}

.good, .bad
{
    text-transform: capitalize;
}

.bad
{
    color: red;
}
.good
{
    color: green;
}

#first_paragraph
{
    font-weight: bold;
}


ul
{
    font-size: larger;
}
#pouce_up
{
    background-image: url("bien.png");
    background-repeat: no-repeat;
    background-position: 360px;
    height: 50px;
}
#pouce_down
{
    background-image: url("mal.png");
    background-repeat: no-repeat;
    background-position: 330px;
    height: 50px;
}
#cat
{       background-image: url("chat.png");
    background-repeat: no-repeat;
    background-position: 340px;
    height: 50px;
}

#conteneur_1
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    
}

#texte
{
    width: 700px;;
    margin-left: 50px;
    text-align: justify;
    font-size: 20px;
   
    
}


img
{
    width: 750px;
    height: 600px;
    b
}
